<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spicezzy | Home</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <h1>Spicezzy</h1>
    <p>This webpage is under construction</p>
    <button id="join">Join Us!</button>
    <script>
        const btn = document.getElementById('join');

        btn.addEventListener('click', () => {
            window.location.href = "https://discord.gg/xBC8Y2xw";
        })
    </script>
</body>
</html>