<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="../assets/style.css">
    <script src="script/login.js" type="module"></script>
</head>
<body>
    <div class="sign-in-container">
        <div class="head-cont">
            <h1 id="logo">Spicezzy</h1>
            <h2 id="logo2">ADMIN</h1>
        </div>
        <div class="input-cont">
            <input type="text" placeholder=" Enter the ID" name="Name">
            <input type="password" placeholder=" Enter the Passcode" name="Password">
        </div>
        <div class="btn-cont">
            <button id="btn-register">Enter</button>
        </div>
    </div>
</body>
</html>